/* PREMIUM LOCK EFFECT */

.tool-card.premium-tool{

    position:relative;
}

.tool-card.premium-tool::after{

    content:"PREMIUM";

    position:absolute;

    top:18px;
    right:18px;

    background:linear-gradient(
    135deg,
    #f59e0b,
    #ef4444
    );

    padding:8px 14px;

    border-radius:12px;

    font-size:12px;
    font-weight:600;

    z-index:10;
}

/* PREMIUM GLOW */

.tool-card:hover{

    box-shadow:
    0 0 30px rgba(56,189,248,0.25);
}

/* FLOATING ANIMATION */

@keyframes floating{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-8px);
    }

    100%{
        transform:translateY(0px);
    }

}

.hero-card{

    animation:floating 4s ease-in-out infinite;
}

/* LOADING SKELETON */

.skeleton{

    background:linear-gradient(
    90deg,
    rgba(255,255,255,0.04),
    rgba(255,255,255,0.08),
    rgba(255,255,255,0.04)
    );

    background-size:200% 100%;

    animation:skeleton 1.5s infinite;

    border-radius:18px;

    height:280px;
}

@keyframes skeleton{

    0%{
        background-position:200% 0;
    }

    100%{
        background-position:-200% 0;
    }

}

/* TOAST */

.toast{

    position:fixed;

    bottom:25px;
    right:25px;

    background:#111827;

    padding:16px 22px;

    border-radius:16px;

    border:1px solid rgba(255,255,255,0.08);

    z-index:9999;

    opacity:0;

    transform:translateY(30px);

    transition:0.4s;
}

.toast.show{

    opacity:1;

    transform:translateY(0px);
}

/* PREMIUM MODAL */

.modal-overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,0.7);

    display:none;

    justify-content:center;
    align-items:center;

    z-index:9999;
}

.modal{

    width:420px;

    background:#111827;

    border-radius:28px;

    padding:35px;

    text-align:center;

    border:1px solid rgba(255,255,255,0.08);
}

.modal h2{
    margin-bottom:20px;
}

.modal p{

    color:#94a3b8;

    line-height:1.7;

    margin-bottom:25px;
}

.modal button{

    padding:14px 24px;

    border:none;

    border-radius:14px;

    background:linear-gradient(
    135deg,
    #38bdf8,
    #6366f1
    );

    color:white;

    cursor:pointer;
}

/* SCROLLBAR */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#0f172a;
}

::-webkit-scrollbar-thumb{

    background:linear-gradient(
    135deg,
    #38bdf8,
    #6366f1
    );

    border-radius:10px;
}
